.lgselect {
  padding-right: 0 !important;
}

.lang {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}
.shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.lang body {
  background-color: #e7e7e7;
  text-align: center;
  padding: 100px;
}

.language-dropdown{
  float: right;
  margin: 30px;
  position: absolute;
  .lang-fr{
    border-left: 4px solid #1ABC9C;
    .flag{
      background-image: url("http://icons.iconarchive.com/icons/icondrawer/flags/48/France-icon.png");
    }
  }
  .lang-en{
  border-left: 4px solid #E2162C;
  .flag{
    background-image: url("http://icons.iconarchive.com/icons/gosquared/flag/64/United-Kingdom-icon.png");
  }
  }

  label, ul li{
    display: block;
    width: 50px;
    height: 38px;
    background: #fff;
    padding: 0px 6px;
    cursor: pointer;
  }
  ul.lang-list{
    @extend .shadow-1;
    position: relative;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    padding-left: 0;

    li{
      border-bottom: 1px solid #ECECEC;
      &:last-child{
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &.selected{
        display: none;
      }
    }
  }
  label{
    @extend .shadow-1;
    position: relative;
    border-bottom: 1px solid #ECECEC;
    border-radius: 3px;
    z-index: 2;
  }
  .lang-flag, .lang-list .lang{
    .flag{
      float: left;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-size: 35px 35px;
      background-repeat: no-repeat;
      background-position: center;
      &:hover{
        // transform: scale(1.1);
      }
    }
  }
  &.open{
    ul.lang-list{
      visibility: visible;
      opacity: 1;
    }
    label{
      @extend .shadow-2;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}
.animate{
  cursor: pointer;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.lang-flag, .lang-list{
  @extend .animate;
}
